.middle-background {
  background-color: rgb(0, 0, 0, 1);
  height: 140vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
}

.Cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 40vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.middle-heading {
  top: 10vh;
  height: 20vh;
  width: 80%;
  position: absolute;
  padding-left: 20px;
  background-color: black;
}
.middle-heading p {
  color: white;
  font-size: 40px;
  padding: 20px;
  border: 3px;
  border-left-style: solid;
  border-color: #ff4500;
}

@media only screen and (max-width: 600px) {
  .middle-heading p {
    font-size: 28px;
  }
  .Cardcontainer {
    height: 130vh;
    top: 30vh;
  }
  .middle-background {
    height: 170vh;
  }
}
